# Исключаем секреты Kubernetes с реальными паролями (КРИТИЧЕСКИ ВАЖНО!)
db-secret.yaml

# Исключаем временные тяжелые tar-архивы образов, которые мы собирали
*.tar

# Исключаем кэш и временные файлы Python
__pycache__/
*.pyc
.pytest_cache/

# Исключаем служебные файлы операционных систем
.DS_Store
Thumbs.db
